@{
    Layout = "";
    ViewBag.Title = "401 Unauthorized";
}



<section class="notFound">
    <div class="img">
        <img src="~/img/401/you-have-no-power-here.jpg" alt="401 Unauthorized" />
        <link rel="stylesheet" href="~/css/404.css">
    </div>
    <div class="text">
        <h1>401</h1>
        <h2>UNAUTHORIZED</h2>
        <h3>BACK TO HOME?</h3>
        <a asp-controller="Movie" asp-action="Index" class="yes">YES</a>
        <a href="">NO</a>
    </div>
</section>