@{
    ViewBag.Title = "Çağrı Sakaoğlu";
}

<link rel="stylesheet" href="~/css/homepage.css" />
<div class="text-center">
    <h1 class="display-4">Coming Soon</h1>
    <p>Site is under construction..</p>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
